<div class="container">
<h1>Reset Password</h1>

<div class="row">
  <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user information from being saved:</h2>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
  <% end %>
    <%= hidden_field_tag :email, @user.email %>

    <%= f.label :password, "New Password:" %>
    <%= f.password_field :password, style: "width: 80%;", class: 'form-control' %>

    <%= f.label :password_confirmation, "Confirm New Password:" %>
    <%= f.password_field :password_confirmation, style: "width: 80%;", class: 'form-control' %><br>

    <%= f.submit "Update Password", class: "btn", style: "margin-right: 20%;" %>
  <% end %>
</div>
</div>
