<div class="container">
  <% if notice %>
    <div class="bg-success">
      <center><b><p id="notice"><%= notice %></p></b></center>
    </div>
  <% end %>

  <% if session[:user_role_id] %>
  <br>
    <%= button_to 'New Blog', new_blog_path, method: :get, class: "btn" %><br><br>
  <% end %>

<% @blogs.each do |blog| %>
    <p>
      <h3><%=link_to blog.title, blog_path(:id => blog.id) %></h3>
      <h5><%= blog.created_at.strftime("%B %d, %Y") %></h5>
    </p>
    <p>
      <center><%= image_tag(blog.blog_image(:large), class: "img-responsive img-rounded") %></center>
    </p><br>
    <p>
      <%= simple_format(blog.blog_post) %>
    </p>
    <p>
      <% if session[:user_role_id] %>
        <%= button_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-secondary" %>
        <%= button_to 'Edit', edit_blog_path(blog), method: :get, class: "btn btn-secondary" %><br>
      <% end %>
    </p>

<% end %>
</div>
