<p id="notice"><%= notice %></p>

<h1>Browse By Furniture Room</h1>

<table>
  <% if session[:user_role_id] %>
  <thead>
    <tr>
      <th>Image</th>
      <th>Room</th>
      <th>Options</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <% end %>

  <tbody>
    <% @furniture_rooms.each do |furniture_room| %>
      <tr>
        <td><%= image_tag furniture_room.room_image(:small)%>
        <br><%= link_to furniture_room.room_type, products_path(:room_for_furniture => furniture_room.room_type) %><br></td>
        <% if session[:user_role_id] %>
          <td><%= link_to 'Show', furniture_room %><br>
          <%= link_to 'Edit', edit_furniture_room_path(furniture_room) %><br>
          <%= link_to 'Destroy', furniture_room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if session[:user_role_id] %>
  <%= link_to 'New Furniture room', new_furniture_room_path %>
<% end %>
