<div class="container">
<p id="notice"><%= notice %></p>

<h1>Browse By Furniture Room</h1>

<% if session[:user_role_id] %>
  <%= button_to 'New Furniture room', new_furniture_room_path, method: :get %>
<% end %>

  <tbody>
    <% @furniture_rooms.each do |furniture_room| %>
        <div class = "panel panel-default item col-xs-6 col-md-4 col-lg-2 class-pad">
        <center><%= link_to image_tag(furniture_room.room_image(:small), class: "img-thumbnail img-responsive img-rounded"),  products_path(:room_for_furniture => furniture_room.room_type)%><br>
        <%= link_to furniture_room.room_type, products_path(:room_for_furniture => furniture_room.room_type) %><br>
        <% if session[:user_role_id] %>
          <%= button_to 'Edit', edit_furniture_room_path(furniture_room), method: :get %><br>
          <%= button_to 'Destroy', furniture_room, method: :delete, data: { confirm: 'Are you sure?' } %></center>
        <% end %>
      </div>
    <% end %>
  </tbody>
</table>

<br>

</div>
