<p id="notice"><%= notice %></p>

<h1>Browse By Furniture Room</h1>

<table>
  <thead>
    <tr>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @furniture_rooms.each do |furniture_room| %>
      <tr>
        <td><%= image_tag furniture_room.room_image(:thumb)%></td>
        <td><%= link_to furniture_room.room_type, products_path(:room_for_furniture => furniture_room.room_type) %></td>
        <% if session[:user_id] %>
          <td><%= link_to 'Show', furniture_room %></td>
          <td><%= link_to 'Edit', edit_furniture_room_path(furniture_room) %></td>
          <td><%= link_to 'Destroy', furniture_room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if session[:user_id] %>
  <%= link_to 'New Furniture room', new_furniture_room_path %>
<% end %>
