<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <%# if you want to see the image url %>
  <%#= @furniture_room.room_image(:medium) %>
  <td><%= image_tag @furniture_room.room_image(:medium) %></td>
</p>
<p>
  <strong>room type:</strong>
  <%= @furniture_room.room_type %>
</p>

<%= link_to 'Edit', edit_furniture_room_path(@furniture_room) %> |
<%= link_to 'Back', furniture_rooms_path %>
</div>
