<div class="container">
  <% if notice %>
    <div class="bg-success">
      <center><b><p id="notice"><%= notice %></p></b></center>
    </div>
  <% end %>
  <% if @about_us.all == 0 %>
    <%= link_to 'New About Us', new_about_u_path %>
  <% end %>
<h1>About Us</h1>

    <% @about_us.each do |about_u| %>
        <%= image_tag(about_u.about_us_image(:thumb), class: "img-thumbnail img-responsive img-responsive") %><br>
        <%= about_u.body %><br>
        Phone: <%= about_u.phone_number %><br>
        Email: <%= about_u.email %><br>
        <%= link_to 'Edit', edit_about_u_path(about_u) %>
        <%#= link_to 'Destroy', about_u, method: :delete, data: { confirm: 'Destroying this "About Us" entry will cause serious damage to the web page and will require contacting the developer to fix. Are you sure?' } %>
    <% end %>

<br>
</div>
