<h1>Welcome Brandywine Administrator</h1>

It's <%=Time.now.strftime("%A, %m/%d/%Y")  %>


<h4>Administrator Pages</h4>
<% if session[:user_id] %>
  <ul>
    <li><%= link_to 'Products', products_path %></li>
    <li><%= link_to 'Furniture Types', furniture_types_path %></li>
    <li><%= link_to 'Furniture Rooms', furniture_rooms_path %></li>
    <li><%= link_to 'Furniture Woods', furniture_woods_path %></li>
    <li><%= link_to 'Furniture Stains', furniture_stains_path %></li>
  </ul>

<h4>Manage Site Users</h4>
  <ul>
    <li><%= link_to 'Users', users_path %></li>
  </ul>
<% end %>
