<div class="container">
<% if session[:user_role_id] %>
<h2>Welcome Brandywine Administrator</h2>

It's <%=Time.now.strftime("%A, %m/%d/%Y")  %><br><br>
<h4>Admin Quick Links</h4>
<%= button_to 'Make an Announcement', new_homepage_post_path, method: :get %></br>
<%= button_to 'Delete an Announcement', homepage_posts_path, method: :get %></br>
<%= button_to 'Update Hours via About Us', edit_about_u_path(1), method: :get %></br>
<%= button_to 'Add a Product', new_product_path, method: :get %></br>

<h4>Administrator Pages</h4>
  <ul>
    <li><%= link_to 'Products', products_path %></li>
    <li><%= link_to 'Furniture Types', furniture_types_path %></li>
    <li><%= link_to 'Furniture Rooms', furniture_rooms_path %></li>
    <li><%= link_to 'Furniture Woods', furniture_woods_path %></li>
    <li><%= link_to 'Furniture Stains', furniture_stains_path %></li>
    <li><%= link_to 'About Us', about_us_path %></li>
  </ul>

<h4>Manage Site Users</h4>
  <ul>
    <li><%= link_to 'Users', users_path %></li>
    <li><%= link_to 'User Roles', roles_path %></li>
  </ul>
<% else %>
<h1>Permission Denied: Admin Authorization Required</h1>
<% end %>
</div>
