<div class="container">
  <% if notice %>
    <div class="bg-success">
      <center><b><p id="notice"><%= notice %></p></b></center>
    </div>
  <% end %>

  <% if session[:user_role_id] %>
   <br>
    <%= button_to 'New Furniture type', new_furniture_type_path, method: :get, class: "btn" %><br><br>
  <% end %>

<h1>Furniture Types</h1>

    <% @furniture_types.each do |furniture_type| %>
      <div class = "panel panel-default item col-xs-6 col-md-4 col-lg-2 class-pad">
        <center><%= link_to image_tag(furniture_type.furniture_type_image(:small), class: "img-thumbnail img-responsive img-rounded"), products_path(:furniture_type => furniture_type.furniture_class)%><br>
        <%= link_to furniture_type.furniture_class+'s', products_path(:furniture_type => furniture_type.furniture_class) %><br></center>
        <% if session[:user_role_id] %>
          <%= button_to 'Destroy', furniture_type, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn" %>
          <%= button_to 'Edit', edit_furniture_type_path(furniture_type), method: :get, class: "btn" %><br>
        <% end %>
      </div>
    <% end %>

</div>
