<p id="notice"><%= notice %></p>

<h1>Listing Furniture Types</h1>

<table>
  <% if session[:user_role_id] %>
  <thead>
    <tr>
      <th>Image</th>
      <th>Type</th>
      <th>Room</th>
      <th>Options</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <% end %>

  <tbody>
    <% @furniture_types.each do |furniture_type| %>
      <tr>
        <td><%= image_tag furniture_type.furniture_type_image(:thumb)%>
        <br><%= link_to furniture_type.furniture_class+'s', products_path(:furniture_type => furniture_type.furniture_class) %></td>
        <% if session[:user_role_id] %>
          <td><%= furniture_type.furniture_room_for_class %></td>
          <td><%= link_to 'Show', furniture_type %><br><%= link_to 'Edit', edit_furniture_type_path(furniture_type) %><br><%= link_to 'Destroy', furniture_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if session[:user_role_id] %>
  <%= link_to 'New Furniture type', new_furniture_type_path %>
<% end %>
