<p id="notice"><%= notice %></p>

<h1>Listing Furniture Types</h1>

<table>
  <thead>
    <tr>
      <th>furniture room for class</th>
      <th>furniture class</th>
      <th>furniture room id</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @furniture_types.each do |furniture_type| %>
      <tr>
        <td><%= furniture_type.furniture_room_for_class %></td>
        <td><%= furniture_type.furniture_class %></td>
        <td><%= furniture_type.furniture_room_id %></td>
        <td><%= link_to 'Show', furniture_type %></td>
        <td><%= link_to 'Edit', edit_furniture_type_path(furniture_type) %></td>
        <td><%= link_to 'Destroy', furniture_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Furniture type', new_furniture_type_path %>
