<div class="container">
  <% if notice %>
    <div class="bg-success">
      <center><b><p id="notice"><%= notice %></p></b></center>
    </div>
  <% end %>

<p>
  <%# if you want to see the image url %>
  <%#= @furniture_room.room_image(:medium) %>
  <td><%= image_tag(@furniture_type.furniture_type_image(:medium), class: "img-responsive img-rounded" %>
</p>

<p>
  <strong>Furniture Room:</strong>
  <%= @furniture_type.furniture_room_for_class %>
</p>

<p>
  <strong>Furniture Room ID:</strong>
  <%= @furniture_type.furniture_room_id %>
</p>

<p>
  <strong>Furniture Type:</strong>
  <%= @furniture_type.furniture_class %>
</p>

<% if session[:user_role_id] %>
  <%= button_to 'Edit', edit_furniture_type_path(@furniture_type), method: :get, class: "btn" %>
<% end %>
</div>
