<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <%# if you want to see the image url %>
  <%#= @furniture_room.room_image(:medium) %>
  <td><%= image_tag(@furniture_type.furniture_type_image(:medium), class: "img-responsive img-rounded" %>
</p>

<p>
  <strong>furniture room:</strong>
  <%= @furniture_type.furniture_room_for_class %>
</p>

<p>
  <strong>furniture room id:</strong>
  <%= @furniture_type.furniture_room_id %>
</p>

<p>
  <strong>furniture class:</strong>
  <%= @furniture_type.furniture_class %>
</p>

<%= link_to 'Edit', edit_furniture_type_path(@furniture_type) %> |
<%= link_to 'Back', furniture_types_path %>
</div>
