<div class="brandywine_form">

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user information from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <%# use gsub to remove name because the username data base column is named incorrectly %>
        <li><%= message.gsub(/Name./, '') %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
  <legend>Enter User Details</legend>

  <div class="field">
    <%= f.label :user_image, 'Add a profile photo:' %><br>
    <%= f.file_field :user_image %>
  </div>
  <div class="field">
    <%= f.label :first_name, 'First name:' %><br>
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :first_name, 'Last name:' %><br>
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :phone_number, 'Phone Number:' %><br>
    <%= f.text_field :phone_number, size: 10, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :email, 'Email:' %><br>
    <%= f.text_field :email, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :referral, 'How did you hear about us:' %><br>
    <%= f.text_field :referral, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :name, 'Username:' %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :password, 'Password:' %><br>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, 'Confirm Password:' %><br>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>
  <% if session[:user_id] %>
  <h1>Please Update Additional User Details</h1>
    <div class="field">
      <%= f.label :address, 'Address:' %><br>
      <%= f.text_field :address, class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :apt_number, 'Apt/Unit Number:' %><br>
      <%= f.text_field :apt_number, class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :city, 'City:' %><br>
      <%= f.text_field :city, class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :state, 'State:' %><br>
      <%= f.text_field :state, class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :zip_code, 'Postal Code:' %><br>
      <%= f.text_field :zip_code, class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :user_review, 'Review Us:' %><br>
      <%= f.text_field :user_review, class: 'form-control' %>
    </div>
  <% end %>

  <% if session[:user_role_id] %>
    <div class="field" id="role">
      <%= f.label :role_name %><br>
      <%= f.select :role_name, Role.userroles,
                    :prompt => 'Select  a user role' %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Create User", class: 'btn' %>
  </div>

  </fieldset>
<% end %>

</div>
