<p id="notice"><%= notice %></p>

<p>
  <p>
    <%# if you want to see the image url %>
    <%#= @user.user_image(:small) %>
    <td><%= image_tag @user.user_image(:small) %>
  </p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
