<div class="container">
  <% if notice %>
    <div class="bg-success">
      <center><b><p id="notice"><%= notice %></p></b></center>
    </div>
  <% end %>

<h1>Customer Reviews</h1>
<% if session[:user_id] %>
  <% if User.find(session[:user_id]).user_review = false %>
    <%= link_to 'Add Review', add_user_review_path(:id => session[:user_id]), class: 'btn btn-default active', style: "margin-right: 20%;" %><br><br><br>
  <% else %>
    <%= link_to 'Edit My Review', add_user_review_path(:id => session[:user_id]), class: 'btn btn-default active', style: "margin-right: 20%;" %><br><br><br>
  <% end %>
<% end %>

<div>
<% @users.each do |user| %>

    <% unless (user.user_review).blank? %>
      <div class="item panel panel-default">
        <div class="panel-heading">
          <h4><%= image_tag(user.user_image(:thumb), class: "img-circle", style: "width: 40px;") %>&emsp;<%= user.first_name.capitalize %> <%= user.last_name.capitalize %></h4>
          <span style="margin-left: 5%;"><%= user.created_at.strftime("%B %d, %Y") %></span>
        </div>
        <div class="panel-body">
          <h5><%= user.user_review %></h5>
        </div>
    </div>
      <div class="container">
        <% if session[:user_role_id] %>
          <td><tr><%= link_to 'Edit', add_user_review_path(:id => user.id), class: 'btn btn-default active' %></tr></td><br><br><br>
        <% end %>
      </div>
    <% end %>

<% end %>
</div>
</div>
