<div class="container">
<h1>Customer Reviews</h1>
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<div>
<% if session[:user_id] %>
  <%= link_to 'Add Review', add_user_review_path(:id => session[:user_id]), class: 'btn btn-secondary active' %>
<% end %>
</div>
<div>
<% @users.each do |user| %>
  <table>
    <tbody>
    <% unless (user.user_review).blank? %>
      <td><tr><b><%= user.first_name %> <%= user.last_name %></b>&emsp;&emsp;&emsp;<%= user.created_at.strftime("%B %d, %Y") %></tr><br>
      <tr>&emsp;<%= user.user_review %></tr></td>
      <% if session[:user_role_id] %>
        <td><tr><%= link_to 'Edit', add_user_review_path(:id => user.id), class: 'btn btn-secondary active' %></tr></td>
      <% end %>
    <% end %>
  </tbody>
  </table>
<% end %>
</div>
</div>
