<p id="notice"><%= notice %></p>

<h1>Furniture Lists</h1>

<table>
  <thead>
    <tr>
      <td>User</td>
    </tr>
  </thead>

  <tbody>
    <% @carts.each do |cart| %>
      <tr>
        <% if cart.user_id %>
        <td><b><%=link_to "#{User.find(cart.user_id).name}", cart_path(Cart.find_by(user_id: cart.user_id)) %></b></td>
        <% else %>
        <td><%= link_to "GUEST", cart_path(Cart.find_by(id: cart.id)) %></td>
        <% end %>
        <td><%= link_to 'Edit', edit_cart_path(cart) %></td>
        <td><%= link_to 'Destroy', cart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Furniture List', new_cart_path %>
