<div class="container">
  <% if notice %>
    <div class="bg-success">
      <center><b><p id="notice"><%= notice %></p></b></center>
    </div>
  <% end %>
  <% if session[:user_role_id] %>
  <br>
    <%= button_to 'New Furniture wood', new_furniture_wood_path, method: :get, class: "btn" %><br>
  <% end %>
<h1>Furniture Woods</h1>

    <% @furniture_woods.each do |furniture_wood| %>
    <div class = "panel panel-default item col-xs-6 col-md-4 col-lg-2 class-pad">
        <center><b><%= furniture_wood.wood_type %></b></center><br>
        <%= button_to 'Destroy', furniture_wood, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn" %>
        <%= button_to 'Edit', edit_furniture_wood_path(furniture_wood), method: :get, class: "btn" %>
        <br></div>
    <% end %>

</div>
