<p id="notice"><%= notice %></p>

<h1>Listing Furniture Styles</h1>

<% if session[:user_id] %>
  <table>
    <thead>
      <tr>
        <th>Image</th>
        <th>Style</th>
        <th colspan="2"></th>
      </tr>
    </thead>
<% end %>

    <tbody>
      <% @furniture_styles.each do |furniture_style| %>
        <tr>
          <td><%= image_tag furniture_style.furniture_style_image(:thumb) %></td>
          <td><%= link_to furniture_style.furniture_style, products_path(:furniture_style => furniture_style.furniture_style) %></td>
          <% if session[:user_id] %>
            <td><%= link_to 'Show', furniture_style %><br>
            <%= link_to 'Edit', edit_furniture_style_path(furniture_style) %><br>
            <%= link_to 'Destroy', furniture_style, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

<br>

<% if session[:user_id] %>
  <%= link_to 'New Furniture style', new_furniture_style_path %>
<% end %>
