<div class="container">
  <% if notice %>
    <div class="bg-success">
      <center><b><p id="notice"><%= notice %></p></b></center>
    </div>
  <% end %>
  <% if session[:user_role_id] %>
  <br>
    <%= button_to 'New Furniture style', new_furniture_style_path, method: :get, class: "btn" %><br>
  <% end %>
<h1>Furniture Styles</h1>

    <tbody>
      <% @furniture_styles.each do |furniture_style| %>
        <div class = "panel panel-default item col-xs-6 col-md-4 col-lg-2 class-pad">
          <center><%= link_to image_tag(furniture_style.furniture_style_image(:small), class: "img-thumbnail img-responsive img-rounded"), products_path(:furniture_style => furniture_style.furniture_style)  %><br>
          <%= link_to furniture_style.furniture_style, products_path(:furniture_style => furniture_style.furniture_style) %><br>
          <% if session[:user_role_id] %>
            <%= button_to 'Destroy', furniture_style, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn" %>
            <%= button_to 'Edit', edit_furniture_style_path(furniture_style), method: :get, class: "btn" %><br>
            <% end %></center>
        </div>
      <% end %>
    </tbody>
  </table>

<br>

</div>
