<p id="notice"><%= notice %></p>

<p>
  <strong>Furniture style:</strong>
  <%= @furniture_style.furniture_style %>
</p>

<p>
  <strong>Furniture style image:</strong>
  <%= image_tag @furniture_style.furniture_style_image(:thumb) %>
</p>

<% if session[:user_id] %>
  <%= link_to 'Edit', edit_furniture_style_path(@furniture_style) %> |
  <%= link_to 'Back', furniture_styles_path %>
<% end %>
