<center><b><p id="notice"><%= notice %></p></b></center>

<div class="container">
  <div class="jumbotron">
    <h1>Brandywine Furniture</h1>
    <h2>Quality at a Comfortable Price<h2>
  </div>
</div>

<h2>Announcements</h2>
<table>
  <thead>
    <tr>
      <th>Post title</th>
      <th>Post text</th>
      <th>Post img url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @homepage_posts.each do |homepage_post| %>
      <tr>
        <td><%= homepage_post.post_title %></td>
        <td><%= homepage_post.post_text %></td>
        <td><%= homepage_post.post_img_url %></td>
        <td><%= link_to 'Show', homepage_post %></td>
        <td><%= link_to 'Edit', edit_homepage_post_path(homepage_post) %></td>
        <td><%= link_to 'Destroy', homepage_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Homepage post', new_homepage_post_path %>
</div>
