<head>
<% if protect_against_forgery? %>
  <script>
    window._auth_token_name = "<%= request_forgery_protection_token %>";
    window._auth_token = "<%= form_authenticity_token %>";
  </script>
<% end %>
</head>

<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control'%>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, rows: 6, class: 'form-control'%>
  </div>
  <div class="form-group" id="furniture_style">
    <%= f.label :furniture_style %><br>
    <%= f.select :furniture_style, FurnitureStyle.furniturestyles,
                  {:prompt => 'Select a furniture style'}, {class: 'form-control'} %>
    <%= link_to('Modify', furniture_styles_path, :title => "Don't see what your looking for?\nAdd a furniture style.") %>
  </div>

  <div class="field">
    <label>
      <%= f.label "Upload Photo" %><br>
      <span class="btn btn-default">
        <%= f.file_field :image %>
      </span>
    </labe>
  </div>

  <div class="form-group" id="room_for_furniture">
    <%= f.label :room_for_furniture %><br>
    <%= f.select :room_for_furniture, FurnitureRoom.roomtypes,
                  {:prompt => 'Select a room for furniture'}, {class: 'form-control'} %>
    <%= link_to('Modify', furniture_rooms_path, :title => "Don't see what your looking for?\nAdd a room.") %>
    <%#= f.select :room_for_furniture, options_for_select(FurnitureRoom.all.map { |room| [ room.room_type, room.room_type, {"data-roomid"=>room.id} ] }) %>
  </div>
  <div class="form-group" id="furniture_type" >
    <%= f.label :furniture_type %><br>
    <%= f.select :furniture_type, FurnitureType.furnituretypes,
                  {:prompt => 'Select a furniture type'}, {class: 'form-control'} %>
  <%= link_to('Modify', furniture_types_path, :title => "Don't see what your looking for?\nAdd a furniture type.") %>
  </div>
  <div class="form-group", id="furniture_wood" >
    <%= f.label :furniture_wood %><br>
    <%= f.select :furniture_wood, FurnitureWood.woodtypes,
                  {:prompt => 'Select a wood type' }, {class: 'form-control'} %>
    <%= link_to('Modify', furniture_woods_path, :title => "Don't see what your looking for?\nAdd a furniture wood.") %>
  </div>
  <div class="field">
    <%= f.label :furniture_stain %><br>
    <%= f.text_field :furniture_stain, class: 'form-control'%>
  </div>
  <div class="field">
    <%= f.label :furniture_dimensions %><br>
    <%= f.text_field :furniture_dimensions, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit "Create Product", class: 'btn' %>
  </div>
<% end %>
