<div class="container">
<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Style</th>
      <th>Image</th>
      <th>Room</th>
      <th>Type</th>
      <th>Wood</th>
      <th>Stain</th>
      <th>Dimensions</th>
      <% if session[:user_role_id] %>
        <th>Options</th>
        <th colspan="10"></th>
      <% else %>
        <th colspan="9"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= button_to product.title, product, method: :get %></td>
        <td><%= product.furniture_style %>
        <td><%= image_tag(product.image(:small), class: "img-responsive img-rounded")%></td>
        <td><%= product.room_for_furniture %></td>
        <td><%= product.furniture_type %></td>
        <td><%= product.furniture_wood %></td>
        <td><%= product.furniture_stain %></td>
        <td><%= product.furniture_dimensions %></td>
        <% if session[:user_role_id]%>
          <td><%= link_to 'Show', product %><br>
          <%= link_to 'Edit', edit_product_path(product) %><br>
          <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <% if Cart.find_by(user_id: session[:user_id]) %>
            <%# cart = Cart.find_by(id: session[:cart_id]) %>
            <%# if Cart.find_by(user_id: session[:user_id]) %>
            <% cart = Cart.find_by(user_id: session[:user_id]) %>
          <% else %>
            <% cart = Cart.find_by(id: session[:cart_id])%>
          <% end %>
          <% if LineItem.find_by(cart_id: cart, product_id: product.id) %>
            <td>Item In <%= link_to 'My Furniture List', cart_path(Cart.find_by(user_id: session[:user_id])) %></td>
          <% else %>
            <td><%= button_to 'Add to My Furniture List', line_items_path(cart_id: cart, product_id: product.id) %></td>
          <% end %>
          <%# else %>
            <td><%#= button_to 'Add to My Furniture List', line_items_path(product_id: product.id) %></td>
          <%# end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if session[:user_role_id] %>
  <%= link_to 'New Product', new_product_path %>
<% end %>
</div>
