<div class="container">
<p id="notice"><%= notice %></p>

<h2>Browse Furniture</h2>

  <tbody>
    <% @products.each do |product| %>
      <div class = "panel panel-default item col-xs-6 col-md-4 col-lg-2">
        <br><center><%= link_to image_tag(product.image(:small), class: "img-thumbnail img-responsive img-rounded"), product%>
        <%= button_to product.title, product, method: :get %></center><br>
        <div class='container'>
        Style: <%= product.furniture_style %><br>
        <%#= product.room_for_furniture %>
        <%#= product.furniture_type %>
        Wood Type: <%= product.furniture_wood %><br>
        Stain: <%= product.furniture_stain %><br>
        Dimensions: <%= product.furniture_dimensions %><br><br>
      </div>
        <% if session[:user_role_id]%>
          <td><%= link_to 'Show', product %><br>
          <%= link_to 'Edit', edit_product_path(product) %><br>
          <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <% if Cart.find_by(user_id: session[:user_id]) %>
            <%# cart = Cart.find_by(id: session[:cart_id]) %>
            <%# if Cart.find_by(user_id: session[:user_id]) %>
            <% cart = Cart.find_by(user_id: session[:user_id]) %>
          <% else %>
            <% cart = Cart.find_by(id: session[:cart_id])%>
          <% end %>
            <div class="add-item"><center><% if LineItem.find_by(cart_id: cart, product_id: product.id) %>
            <%= button_to 'Item In My Furniture List', cart_path(Cart.find_by(user_id: session[:user_id])) %>
          <% else %>
            <%= button_to "Add to My Furniture List", line_items_path(cart_id: cart, product_id: product.id) %>
          <% end %><br></center></div>
          <%# else %>
            <%#= button_to 'Add to My Furniture List', line_items_path(product_id: product.id) %>
          <%# end %>
        <% end %>
      </div>
    <% end %>
  </tbody>
</table>

<br>
<% if session[:user_role_id] %>
  <%= link_to 'New Product', new_product_path %>
<% end %>
</div>
