<div class="container">
  <% if notice %>
    <div class="bg-success">
      <center><b><p id="notice"><%= notice %></p></b></center>
    </div>
  <% end %>
<p>
  <strong>Product:</strong>
  <%= @line_item.product %>
</p>

<p>
  <strong>Cart:</strong>
  <%= @line_item.cart %>
</p>

<% if session[:user_role_id] %>
  <%= link_to 'Edit', edit_line_item_path(@line_item) %> |
  <%= link_to 'Back', line_items_path %>
<% end %>
</div>
