<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<div class="col-xs-push-6 col-md-push-4">
  <% if session[:user_role_id] %>
    <div ><%= button_to 'Logout', logout_path, method: :delete, class: 'btn btn-secondary active' %>
    <%= button_to 'Control Panel', admin_path, method: :get, class: 'btn btn-secondary active' %></div>
  <% elsif session[:user_id] %>
    <div><%= button_to 'Logout', logout_path, method: :delete, class: 'btn btn-secondary active' %>
      <%= button_to "#{User.find(session[:user_id]).first_name.capitalize}'s Profile", user_path(session[:user_id]), method: :get, class: 'btn btn-secondary active' %><%= image_tag(User.find(session[:user_id]).user_image(:thumb), class: "img-circle pull-right", style: "width: 30px; margin-right: 10px;") %></div>
  <% else %>
    <div><%= button_to 'Sign Up', new_user_path, method: :get, class: 'btn btn-secondary active' %>
    <%= button_to 'Login', login_path, method: :get, class: 'btn btn-secondary active' %></div>
  <% end %>
</div>
<div class="container col-xs-pull-4 col-md-pull-4 text-muted"><h5>Amish-made, hardwood furniture, hand-crafted to suit your unique style.</h5></div>
    <div class="container">
      <nav>
        <ul class="nav nav-justified">
          <li><%= link_to 'Home', homepage_posts_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-content" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Furniture Catalog<span class="caret"></span></a>
              <ul class="dropdown-content">
                <%# THIS WILL NEED CODED SO THAT EACH ROOM ADDED BY THE ADMIN WILL AUTO ADD TO THIS DROPDOWN %>
                <li><%= link_to 'Browse by Room', furniture_rooms_path %></li>
                <li><%= link_to 'Browse by Furniture Type', furniture_types_path %></li>
                <li><%= link_to 'Browse by Furniture Style', furniture_styles_path %></li>
                <li><%= link_to 'Browse All Furniture', products_path %></li>
              </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-content" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us<span class="caret"></span></a>
              <ul class="dropdown-content">
                <%# THIS WILL NEED CODED SO THAT EACH ROOM ADDED BY THE ADMIN WILL AUTO ADD TO THIS DROPDOWN %>
                <li><%= link_to 'About Us', about_u_path(1) %></li>
                <li><%= link_to 'Customer Reviews', user_reviews_path %></li>
              </ul>
          </li>
          <li><%= link_to 'Blog', blogs_path %></li>
          <% #the code below needs fixed to show the cart corresponding to the session id but if the session id is overridden by the user logged in, it should show the users cart%>
          <% if session[:user_id] %>
            <li><%= link_to 'My Furniture List', cart_path(Cart.find_by(user_id: session[:user_id])) %></li>
          <% elsif session[:user_role_id] %>
            <li><%= link_to 'User Lists', carts_path %></li>
          <% elsif session[:cart_id]  %>
            <% if Cart.find_by(id: session[:cart_id]) %>
              <li><%= link_to 'My Furniture List', cart_path(Cart.find_by(id: session[:cart_id])) %></li>
            <% else %>
              <li><%= link_to 'My Furniture List', empty_url %></li>
            <% end %>
          <% else %>
            <li><%= link_to 'My Furniture List', empty_url %></li>
          <% end %>

        </ul>
      </nav>
    </div>
</head>
