<head>

  <% if session[:user_role_id] %>
    <div class='btn'><%= button_to 'Logout', logout_path, method: :delete %></div>
    <div class='btn'><%= button_to 'Control Panel', admin_path, method: :get %></div>
  <% elsif session[:user_id] %>
    <div class='btn'><%= button_to 'Logout', logout_path, method: :delete %></div>
  <% else %>
    <div class='btn'><%= button_to 'Sign Up', new_user_path, method: :get %></div>
    <div class='btn'><%= button_to 'Login', login_path, method: :get %></div>
  <% end %>

    <div class="container">
      <h4 class="text-muted">Amish-made, hardwood furniture, hand-crafted to suit your unique style.</h4>
      <nav>
        <ul class="nav nav-justified">
          <li><%= link_to 'Home', homepage_posts_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-content" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Furniture Catalog<span class="caret"></span></a>
              <ul class="dropdown-content">
                <%# THIS WILL NEED CODED SO THAT EACH ROOM ADDED BY THE ADMIN WILL AUTO ADD TO THIS DROPDOWN %>
                <li><%= link_to 'Browse by Room', furniture_rooms_path %></li>
                <li><%= link_to 'Browse by Furniture Type', furniture_types_path %></li>
                <li><%= link_to 'Browse by Furniture Style', furniture_styles_path %></li>
                <li><%= link_to 'Browse All Furniture', products_path %></li>
              </ul>
          </li>
          <li><%= link_to 'About Us', about_u_path(1) %></li>
          <li><%= link_to 'Blog', blogs_path %></li>
          <% #the code below needs fixed to show the cart corresponding to the session id but if the session id is overridden by the user logged in, it should show the users cart%>
          <% if session[:user_id] %>
            <li><%= link_to 'My Furniture List', cart_path(Cart.find_by(user_id: session[:user_id])) %></li>
          <% elsif session[:user_role_id] %>
            <li><%= link_to 'User Lists', carts_path %></li>
          <% elsif session[:cart_id] %>
            <% if Cart.find_by(id: session[:cart_id]) %>
              <li><%= link_to 'My Furniture List', cart_path(Cart.find(session[:cart_id])) %></li>
            <% else %>
              <li><%= link_to 'My Furniture List', empty_url %></li>
            <% end %>
          <% else %>
            <li><%= link_to 'My Furniture List', empty_url %></li>
          <% end %>

        </ul>
      </nav>
    </div>
</head>
